<div class="row" style="text-align: left;">

  <div class="col-md-3">
    <%= link_to "Enter Marks", enter_mark_path(@student), class: "btn btn-default" %>
  </div>
  <div class="col-md-3">
    <%= link_to "Extra Curricular", curricular_path(@student), class: "btn btn-default" %>
  </div>
  <div class="col-md-3">
    <%= link_to "Export PDF", export_pdf_path(@student, :format => :pdf), class: "btn btn-default" %>
  </div>

  <div class="col-md-3">
    <div class="btn btn-default">
      Previous Reports
    </div>
  </div>

</div>

<div class="row">
  <%= render "student_cce_report_pdf" %>
</div>
