<div class="row">
  <div class="page-header">
    <h1> Term </h1>
  </div>

  <br>
  <div class="col-md-3">
    <strong>Select Term</strong>
    <br>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="choose-term-text">
      <%#= current_term && current_term != "" ? Term.where(id: current_term).first.name : 'Choose Term' %>
      <!--<span class="caret"></span>-->
    </a>
    <ul class="dropdown-menu" role="menu">
      <% #Term.all.each do |term| %>
          <li><%#= link_to "#{term.name}", view_snapshot_term_path(student_id: @student.id, term_id: term.id) %></li>
          <!---->
      <% #end %>
    </ul>
  </div>

  <div class="col-md-9">
    <div class="sub-title">
      <strong>Grade:</strong> <%= @student.grade.name %>
    </div>
    <br>
    <div class="sub-title">
      <strong>Teacher:</strong> <%= @student.grade.teacher.name %>
    </div>
    <br>

    <div class="sub-title">
      <strong>Attendances: </strong>
      <br>
    </div>

    <div class="sub-content">
      <br>
      <b>Late:</b> <%= Attendance.where(student_id: @student.id, term_id: current_term, is_late: true).count %>
      <br>
      <br>
      <b>Absence:</b> <%= Attendance.where(student_id: @student.id, term_id: current_term, absence: true).count %>
    </div>
    <hr>
  </div>

</div>

<style>
    .sub-title {
        margin-left: 30px;
    }

    .sub-content {
        margin-left: 80px;
    }
</style>