<style type="text/css">
  .title-pdf{
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin: 0px 5px;
  }
  .date-head-pdf {
    float: right;
    margin-right: 25px;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px
  }
  .section1 {
    font-size: 10px;
  }
  .col-md-6 {
    width: 50%;
  }
  .logobox img {
    width: 90px;
    height: 90px;
  }
  .title-table {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    padding: 0px 3px !important;
  }
  .border-title {
    padding-bottom: 5px important;
    border-bottom: 2px solid #000;
  }
  .extra-comment {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin-top: 10px;
  }
  .page-break { 
    display:block; 
    clear:both; 
    page-break-after:always; 
  }
  .name-term {
    font-weight: bold;
    font-size: 13px;
  }
  .input-content {
    width: 100%;
    height: 210px;
  }
  .signature {
    text-align: center;
    border-top: 1px solid #000;
    font-weight: bold;
  }
  .term {
    margin-top: 15px;
  }
  .square {
    height: 25px;
    width: 25px;
    border: 1px solid #000;
    display: inline-block;
  }
</style>
<div id="page-yield" class="available_sections1">
  <div class="page1"></div>

  <div class="section1">
    <div class="extender"></div>
    <h4 class="title-pdf">KHALSA COMMUNITY SCHOOL REPORT CARD</h4>
    <span class="date-head-pdf">Date:8/24/2015</span>
    <%= render :partial => 'g1_g3' %>
    <%#= render :partial => 'g4_g6' %>
    <%#= render :partial => 'g7_g8' %>
    <%#= render :partial => 'js_jk' %>
    <div id="score-table">
      <table class="pdf-table" width="100%" border="1" cellspacing="0" cellpadding="2" style="border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000; width: 100%;" >
        <tr class="table-header">
          <td class="fixed" width="70%"><label><%= @student.name %></label></td>
          <td colspan="2" width="10%" class="score" align="center">Report 1</td>
          <td colspan="2" width="10%" class="score" align="center">Report 2</td>
          <td colspan="2" width="10%" class="score" align="center">Report 3</td>
        </tr>
        <!-- <tr class="table-header">
          <td class="score"></td>
          <td class="score">Mark</td>
          <td class="score">Average</td>
          <td class="score">Mark</td>
          <td class="score">Average</td>
          <td class="score">Mark</td>
          <td class="score">Average</td>
        </tr> -->

        <tr class="tr">
          <td class="fixed">
            <%= @student.name %>
          </td>

          <td class="score" align="center">
            <div class="label-field-pair">
              <div class="text-input-bg"> 100</div>
            </div>
          </td>
          <td class="score" align="center">
            <div class="label-field-pair">
              <div class="text-input-bg">100</div>
            </div>
          </td>
          <td class="score" align="center">
            <div class="label-field-pair">
              <div class="text-input-bg">100</div>
            </div>
          </td>
          <td class="score" align="center">
            <div class="label-field-pair">
              <div class="text-input-bg">100</div>
            </div>
          </td>
          <td class="score" align="center">
            <div class="label-field-pair">
              <div class="text-input-bg">100</div>
            </div>
          </td>
          <td class="score" align="center">
            <div class="label-field-pair">
              <div class="text-input-bg">100</div>
            </div>
          </td>

        </tr>
        </tbody>
      </table>
    </div>

    <table class="pdf-table table-margin" width="100%" cellspacing="0" class="page" style="border: 1px solid #000000; margin-top: 5px">
      <tr style="border-bottom: 1px solid #000000;">
        <td style="border:0;">
          <h4 class="add title-table">EXTRA CURRICULAR ACTIVITIES</h4>
        </td>
      <tr>
      <tr>
        <td>
          <p class="extra-comment">Participation And General Comments</p>
        </td>
      </tr>
    </table>
    <!-- page braek -->
    <div class="page-break"></div>
    <div style="margin-top: 20px;">
      <span style="padding-left: 20px"><label>Student:</label></span>
      <span style="float: right; padding-right: 20px;"><label>Grade:</label></span>
    </div>
    <div class="term">
      <tr>
        <td height="1000px" valign="top" style="border:none;">
          <div class="custom_header">
            <h2 class="add title-table border-title" style="margin-top: 0;" >ADDITIONAL COMMENTS / WAYS TO SUPPORT LEARNING</h2>
            <div>
              <span class="name-term"><label>First Term:</label></span>
              <span style="float: right; padding-right: 30px;"><label>Date:</label></span>
            </div>
            <div class="input-content"></div>
            <table width="100%" cellspacing="0">
              <tr>
                <td width="33%" class="signature"><span>Teacher's Signature</span></td>
                <td width="34%" align="center"></td>
                <td width="33%" class="signature"><span>Administrator's Signature</span></td>
              </tr>
            </table>
          </div>
    
        </td>
      </tr>
    </div>
    <div class="term">
      <tr>
        <td height="1000px" valign="top" style="border:none;">
          <div class="custom_header">
            <h2 class="add title-table border-title" style="margin-top: 0;" >ADDITIONAL COMMENTS / WAYS TO SUPPORT LEARNING</h2>
            <div>
              <span class="name-term"><label>Second Term:</label></span>
              <span style="float: right; padding-right: 30px;"><label>Date:</label></span>
            </div>
            <div class="input-content"></div>
            <table width="100%" cellspacing="0">
              <tr>
                <td width="33%" class="signature"><span>Teacher's Signature</span></td>
                <td width="34%" align="center"></td>
                <td width="33%" class="signature"><span>Administrator's Signature</span></td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </div>
    <div class="term">
      <tr>
        <td height="1000px" valign="top" style="border:none;">
          <div class="custom_header">
            <h2 class="add title-table border-title" style="margin-top: 0;" >ADDITIONAL COMMENTS / WAYS TO SUPPORT LEARNING</h2>
            <div>
              <span class="name-term"><label>Third Term:</label></span>
              <span style="float: right; padding-right: 30px;"><label>Date:</label></span>
            </div>
            <div class="input-content"></div>
            <table width="100%" cellspacing="0">
              <tr>
                <td width="33%" class="signature"><span>Teacher's Signature</span></td>
                <td width="34%" align="center"></td>
                <td width="33%" class="signature"><span>Administrator's Signature</span></td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </div>
    <p style="text-align: center; padding: 25px 10px;"> ______________________________________ is Assigned to Grade ____________ in September ________ </p>
    <!-- page braek -->
    <div class="page-break"></div>

    <table class="pdf-table" width="100%" cellspacing="0" class="page">
      <tr>
        <td style="border:0; text-align:center; padding-top: 35px;" colspan="2"><b>Response Form
          <br>
          ( to be completed, signed and returned)</b>
        </td>
      </tr>
      <tr >
        <td>
          <table width="100%" width="100%" cellspacing="0" style="border: 1px solid #000000; padding: 8px;" >
            <tr>
              <td><label>Student:</label></td>
              <td><label><%= @student.name %></label></td>
              <td><label>Grade: </label> </td>
              <td><label>Date:</label></td>
            </tr>
            <tr>
              <td><label class="field-label">School:</label> </td>
              <td><label class="infolbl">KHALSA COMMUNITY SCHOOL</label> </td>
              <td colspan="2">Homeroom Teachers: </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
      <td>
        <div style="border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000; width: 100%; padding: 8px;">
          <p>Parent's/Guardian's and student's comments on student achievement, goals and home support:</p>
          <div style="height: 620px;"></div>
          <table class="pdf-table" width="100%" cellspacing="0" class="sig">
            <tr>
              <td width="50%">
                <span class="square"></span>
                <span style="margin-top: -10px;">I have received the report card</span>
              </td>
              <td width="50%">
                <span class="square"></span>
                <span style="margin-top: -10px;">I would like to discuss this report card. Please contact me.</span>
              </td>
            </tr>
            <tr height="70px"></tr>
            <tr>
              <td colspan="2">
                <table width="100%" cellspacing="0">
                  <tr>
                    <td width="40%" class="signature"><span>Parent's/Guardian's Signature</span></td>
                    <td width="20%" align="center"></td>
                    <td width="40%" class="signature"><span>Parent's/Guardian's Name (please print)</span></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr height="70px"></tr>
            <tr>
              <td colspan="2">
                <table width="100%" cellspacing="0">
                  <tr>
                    <td width="40%" class="signature"><span>Parent's/Guardian's Signature</span></td>
                    <td width="60%" class="">
                      <table width="100%" cellspacing="0" align="center">
                        <tr align="center">
                          <td>(______)_______-____________</td>
                          <td>(______)_______-____________</td>
                        </tr>
                        <tr align="center">
                          <td>Telephone (day)</td>
                          <td>Telephone (night)</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
      </tr>
    </table>
  </div>
</div>
