<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= simple_form_for @term, :html => { :class => 'form-horizontal' } do |f| %>
        <%= f.input :name %>
        <%#= error_span(@term[:name]) %>
        <%#= f.input :acedemic_year_id %>
        <%#= error_span(@term[:acedemic_year_id]) %>

        <%= f.button :submit, :class => 'btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    terms_path, :class => 'btn btn-default' %>
    <% end %>
  </div>
</div>
